<div id="<%= dom_id phonebook_crud %>">
  <p>
    <strong>First name:</strong>
    <%= phonebook_crud.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= phonebook_crud.last_name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= phonebook_crud.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= phonebook_crud.address %>
  </p>

</div>
